$mainColor: #ffffff;
@mixin myTextGradient{
  background: -webkit-linear-gradient(#fda033, #b0487f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 300;
}

body {

  ul {
    background-color: #000000;
    li {
      background-color: #000000;

      a {
        color:$mainColor;
        @include myTextGradient;
        .active{
          background-color: white;

      }
      }
    }

  }


  .header {
    min-height: 90%;
    width: 100%;
    padding:70px 0px 40px 0px;
    background:
            /* top, transparent red */
            linear-gradient(to right,
                    rgba(0, 0, 0, 0.95),
                    rgba(0, 0, 0, 0.5)
            ),
              /* bottom, image */
            url(https://www.google.com/url?sa=i&url=https%3A%2F%2Feditorial.rottentomatoes.com%2Fguide%2F200-essential-movies-to-watch-now%2F&psig=AOvVaw0nsgoay6V9f0DnC2UjFTvD&ust=1579424528257000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMin5ZbljOcCFQAAAAAdAAAAABAI);
    background-size: cover;
    color: #f1f1f1;
    line-height: 0.8;

    h2{
      margin:auto;
      @include myTextGradient;
      font-size: 45px;
      font-weight: lighter;
    }
  }

}
